*{
    transition: 200ms;
}
.jumbotron {
    height: 80vh;
    background: url('/img/Jumbotron-backgound.jpg');
    background-size: cover;
    border-radius: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.box{
    background-color: rgba(0,0,0,0.45);
    padding: 2.5rem;
    border-radius: 4em;
}
.box h1{
    color: white;
    line-height: 1.5em;
}
.page-logo{
    height: 70px;
    border-radius: 20px;
}
.my-photo{
    max-height: 400px;
    box-shadow: 10px 10px 20px gray;
}
.project-logo{
    max-width: 150px;
    border-radius: 40px;
}
.project-name{
    position: relative;
}
.project-name::before{
    content: "";
    position: absolute;
    background: black;
    top: 55%;
    left: 0;
    width: 100%;
    height: 50%;
    transform: perspective(1em) rotateX(40deg) scale(1,0.35);
    filter: blur(1.5em);
}
.studie-image{
    max-width: 300px;
    box-shadow: 20px 20px 30px gray;
    border-radius: 40px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name-input ,.email-input{
    height: 30px;
    width: 300px;
    border: none;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    margin: 20px;
    padding-left:10px;
    font-size: 20px;
}
textarea{
    resize: none;
    width: 320px;
    height: 200px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 60px rgb(146, 146, 146);
    border: none;
    font-size: 24px;
}
.theme-switcher label{
    background: white;
    height: 25px;
    width: 60px;
    border-radius: 50px;
    position: relative;
}
.theme-switcher label input{
    height: 0;
    width: 0;
}
.theme-switcher .box-slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: url(/img/moon.png);
    background-size: cover;
    transition: 200ms;
}
.theme-switcher label input:checked + .box-slider{
    transform: translateX(30px);
    background: url(/img/sun.png);
    background-size: cover;
}
.themed-text{
    transition: 200ms;
    color: white;
}
.themed-body{
    transition: 200ms;
    background-color: #3b3d40;
}
.themed-hr{
    transition: 200ms;
    color: white;
}
.project-img{
    border-radius: 50px;
    box-shadow: 15px 15px 30px gray;
}