<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Celieus naar fahrenheit berkenen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Tempratuur: celsius naar fahrenheit</h3>
    <div class="box third-box">
        <label>voer in hoeveel graden wil je berekenen</label>
        <input class="cel-to-fehr-input" type="number">
        <button class="cel-to-fahrenheit-calculate-button">Berekenen</button>
        <p><span class="cel-input">0</span> graden celsius is <span class="cel-to-fehr-result">0</span> graden in fahrenheit</p>
        <button class="backward-button">terug naar de main pagina</button>
        <script src="page3.js"></script>
    </div>
</body>
</html>