<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaar naar uur berekenen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Je leeftijf in dagen berekenen</h3>
    <div class="box fourth-box">
        <label>Hoe oud ben je ?</label>
        <input class="age-year-input" type="number">
        <button class="age-calculate-button">Berekenen</button>
        <p>Je bent <span class="age-in-days">0</span> dagen oud.</p>
        <button class="backward-button">terug naar de main pagina</button>
        <script src="page4.js"></script>
    </div>
</body>
</html>