<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kilopmeter naar Mile berekenen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>KM naar Mile berekenen</h3>
    <div class="box second-box">
        <label>Hoeveel kilometers wil je berekenen</label>
        <input class="km-to-mile-input" type="number">
        <button class="km-to-mile-calculate-button">Berekenen</button>
        <p>Er is<span class="km-to-mile-result"> 0</span> miles in <span class="km-to-mile-input km-input"> 0</span> kilometers</p>
        <button class="backward-button">terug naar de main pagina</button>
        <script src="page2.js"></script>
    </div>
</body>
</html>