<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buienrader</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="jumbotron">
        <img class="site-logo" src="img/Group 1.png" alt="logo"> 
        <div class="searchbar">
            <input class="city-input" type="text" placeholder="Locatie opzoeken">
            <i class="fa fa-search search-button"></i>
        </div>
    </div>
    <section>
        <div class="display-box">
            <span class="city-name">Stad</span>
            <span class="region">regio</span>
            <span class="country">land</span>
            <span class="local-time">tijd</span>
            <span class="temprature"> 
                20<span class="temp">C</span>
            </span>
            <span class="condition">weer conditie</span>
            <img src="#" alt="" class="condition-icon">
        </div>
    </section>
    <footer>Buienradertje.nl <i class="fa fa-copyright"></i> 2021</footer>
    <script src="main.js"></script>
</body>
</html>